article {
  grid-area: content;
  padding: 9px;
  background: black;
  color: white;
  margin-left: 0
}
aside {
  grid-area: sidebar;
  background: white;
  color: white;
}
footer {
  padding: 9px;
  grid-area: footer;
  background: white;
  color: white;
}
.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas:
    'sidebar content'
    'footer footer';
  height: 60vh
}
@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 4fr 2fr;
    grid-template-areas:
      'content'
      'sidebar'
      'footer';
  }
}
