article {
  padding: 9px;
  background: black;
  color: white;
  margin-left: 0;
  width: 75vw;
}
aside {
  background: lavender;
  color: darkgrey;
  width: 25vw;
}
footer {
  padding: 9px;
  background: lightgoldenrodyellow;
  color: white;
}
.flexbox {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  article {
    width: auto;
  }
  aside {
    width: auto;
  }
  .flexbox {
    flex-direction: column;
  }
}